<div class="body">
    <!-- <app-databinding> </app-databinding> -->
    <!-- <app-directives> </app-directives> -->
    <!-- <app-my-modal>
        <img src="N.-R.-Narayana-Murthy.jpg"/>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Launch static backdrop modal
        </button>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>
    </app-my-modal> -->
    <!-- <app-user-list></app-user-list>
    <app-product-list></app-product-list>
    <app-demo1></app-demo1> -->
    <!-- <app-employee-crud></app-employee-crud> -->
     <!-- <app-employee-list></app-employee-list> -->
    <!-- <app-ordinal-customepipe></app-ordinal-customepipe> -->
     <!-- <app-employee-curd></app-employee-curd> -->
      <!-- <app-employeewithservice></app-employeewithservice> -->
       <!-- <app-http-demo1></app-http-demo1> -->
        <!-- <app-employee-crud-http-client></app-employee-crud-http-client> -->
         <!-- <app-signal-demo></app-signal-demo> -->
          <!-- <app-employee-subject-assignment></app-employee-subject-assignment> -->
           <!-- <app-to-do-list-signal></app-to-do-list-signal> -->
            <!-- <app-template-driven-form></app-template-driven-form> -->
             <!-- <app-reactive-form></app-reactive-form> -->
              <!-- <app-registration-form></app-registration-form> -->
               <router-outlet></router-outlet>
</div>

