<style>
    img {
        width: 60px;
        height: 60px;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="category text-center">
        <img src="EcommerceSols.png" alt="">
        <div>E-commerce Solutions</div>
      </div>
    </div>
    <div class="col">
      <div class="category text-center">
        <img src="AppDev.png" alt="">
        <div>Application Development</div>
      </div>
    </div>
    <div class="col">
      <div class="category text-center">
        <img style="width:60px; height:60px" src="staffing (2).png" alt="">
        <div>Staffing</div>
      </div>
    </div>
    <div class="col">
      <div class="category text-center">
        <img src="DataAnalytics.png" alt="">
        <div>Data Analytics</div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="category text-center">
        <img src="EcommerceSols.png" alt="">
        <div>Top Offers</div>
      </div>
    </div> -->
    <div class="col">
      <div class="category text-center">
        <img src="TechConsulting.avif" alt="">
        <div>Technology Consulting</div>
      </div>
    </div>
  </div>
</div>