<div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>designation</th>
                <th>department</th>
                <th>salary</th>
                <th>email</th>
            </tr>
        </thead>
        <body>
            @for(emp of employees;track $index) {
                <tr>
                    <td>{{emp.id}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.designation}}</td>
                    <td>{{emp.department}}</td>
                    <td>{{emp.salary}}</td>
                    <td>{{emp.email}}</td>
                </tr>
            }
        </body>
    </table>
</div>